body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }


  main {
    /* position: relative; */
    background: white;
    /* padding: 2em; */
    border-top: 2em solid white;
    border-right: 4em solid white;
    border-left: 4em solid white;
  }
  
  .bg-steel {
    background-color: #4d6bf5;
  }

  .navbar-expand-md {
    height: 7.5%;
  }

  .navbar-brand {
    font-weight: bold;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .list-group .active 
  {
    /* background-color: #DCDCDC;  */
    /* position: relative; */
    background-color: #F0F0F0;
    color: black;
    border-color: white;
    cursor: pointer;
  }


  .post-btn {
    float: right;
    
  }

  .page-footer {
    background: #eeeff1;
    width: 100%;
  }
  
  /* .content-section {
    overflow: hidden;
  } */


  .content-section {
    background: #ffffff;
    padding: 20px 20px;
    /* border: 1px solid #dddddd; */
    /* border-radius: 3px; */
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    /* margin-bottom: 20px; */
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
